{% extends 'home/base.html' %} {% block content %}

<main class="main">
	<!-- Hero Section -->
	<section id="hero" class="hero section dark-background">
		<img src="/static/staticfiles/ported/img/d.jpg" alt="" data-aos="fade-in" />

		<div class="container">
			<div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
				<div class="col-xl-6 col-lg-8">
					<h2>ደብረ ገሊላ ዐማኑኤል ካቴድራል</h2>
					<p>እግዚአብሔር ምስሌነ ሰንበት ት/ቤት</p>
				</div>
			</div>

			<div class="row mt-5 justify-content-center" data-aos="fade-up" data-aos-delay="200">
				<div class="col-md-4 justify-content-center" data-aos="fade-up" data-aos-delay="300">
					<div class="container image-box align-items-center justify-content-center">
						<div class="row">
							<img src="/static/media/qrcode-transparent.png" alt="" style="max-width: 90vw; max-height: 90vh" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="about" class="about section dark light-background">
		<div class="container" data-aos="fade-up" data-aos-delay="100">
			<div class="row gy-4">
				<div class="col-lg-6 order-1 order-lg-2">
					<img src="static/media/ad-1.jpg" class="img-fluid" alt="" />
				</div>
				<div class="col-lg-6 order-2 order-lg-1 content">
					<h3>8ኛው ዙር ፍኖተ ሕይወት መንፈሳዊ ጉዞ</h3>
					<p class="fst-italic">"ለሚታዘዙለት ሁሉ የዘላለም መዳን ምክንያት ሆነላቸው" ዕብ 5፥10</p>
					<ul>
						<li><i class="bi bi-check2-all"></i> <span>ታኅሳስ 13 2017 ዓ.ም  </span></li>
					</ul>
					<p>ወደ:- ጥንታዊትና ታሪካዊት ስእለት ሰሚዋ ሆለታ ደብረ ገነት ቅድስት ኪዳነ ምሕረት ቤተክርስቲያን 📌 ከአዲስ አበባ በ35 ኪ ሜ ቅርብ ርቀት የሚገኝ ቤተክርስቲያን ሲሆን ቤተክርስቲያኑ ከዋናው መንገድ እጅግ ቅርብ በሆነ ቦታ ይገኛል። የቤተክርስቲያኑ ሊቃውንት አባቶች እና የአካባቢው ምእመናንም በጉጉት እየጠበቁ ይገኛሉ •።</p>
				</div>
			</div>
		</div>
	</section>
</main>
<style></style>
{% endblock content %}
