{% extends 'home/base.html' %} {% block content %}

<main class="main">
	<!-- Hero Section -->
	<section id="hero" class="hero section dark-background">
		<img src="/static/staticfiles/ported/img/d.jpg" alt="" data-aos="fade-in" />

		<div class="container">
			<div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
				<div class="col-xl-6 col-lg-8">
					<h2>ደብረ ገሊላ ዐማኑኤል ካቴድራል</h2>
					<p>እግዚአብሔር ምስሌነ ሰንበት ት/ቤት</p>
				</div>
			</div>

			<div class="row mt-5 justify-content-center" data-aos="fade-up" data-aos-delay="150">
				<div class="justify-content-center" data-aos="fade-up" data-aos-delay="100">
					<a href="{% url 'socials-button-page' %}">
						<button class="container image-box align-items-center justify-content-center next-button">ቀጣይ</button>
					</a>
				</div>
			</div>
			<div class="col-xl-6 col-lg-8 mt-5 text-center" data-aos="fade-up" data-aos-delay="150">
				<p>እግዚአብሔር ምስሌነ ሰንበት ት/ቤት</p>
			</div>
		</div>
	</section>
	<section id="about" class="about section dark light-background">
		<div class="container" data-aos="fade-up" data-aos-delay="100">
			<div class="row gy-4">
				<div class="col-lg-6 order-2 order-lg-1 content">
					<h3>8ኛው ዙር ፍኖተ ሕይወት መንፈሳዊ ጉዞ</h3>
				</div>
			</div>
		</div>
	</section>
</main>
<style>
	.next-button {
		border-radius: 10%;
		background-color: transparent;
		color: #0a409c;
		border: 6px solid #0a409c;
		font-size: 9rem;
		padding: 1px 2px;
		font-weight: bold;
		cursor: pointer;
		transition: all 0.3s ease;
	}

	.next-button:hover,
	.color-button:focus {
		background-color: #0a409c;
		border: 6px solid #0a409c;
		color: #f0ad4e;
	}

	.next-button:active {
		background-color: #0a409c;
		color: #f0ad4e;
	}
</style>
{% endblock content %}
