{% extends 'home/base.html' %} {% block content %}
<main class="main">
	<section id="features" class="features section">
        <img src="/static/staticfiles/ported/img/d.jpg" alt="" data-aos="fade-in" />
		<div class="row gy-4">
            <section id="hero" class="hero section dark-background">
                <div class="container">
			<a href="https://www.facebook.com/EMislene/ " class="btn btn-outline-primary me-2" target="_blank"> <i class="bi bi-facebook"></i> Facebook </a>
			<a href="https://twitter.com" class="btn btn-outline-info me-2" target="_blank"> <i class="bi bi-twitter"></i> Twitter </a>
			<a href="https://linkedin.com" class="btn btn-outline-primary me-2" target="_blank"> <i class="bi bi-linkedin"></i> LinkedIn </a>
			<a href="https://wa.me/+251921136180" class="btn btn-outline-success" target="_blank"> <i class="bi bi-whatsapp"></i> Whatsapp </a>
		</div>
	</section>
</main>
{% endblock content %}
